<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SC_COD_WholeProcess.BaseClass"/>
      <class name="SC_COD_WholeProcess.OrderPlacing"/>
      <class name="SC_COD_WholeProcess.SellerCancellation"/>
      <class name="SC_COD_WholeProcess.AdminCancellation"/>
      <class name="SC_COD_WholeProcess.FullfillingOrder"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
